<nav class="site-navigation">
    <ul>
        <li><a class="fa fa-home fa-2x" href="/" title="Home"></a></li>
        <!--li><a class="fa fa-tags fa-2x" href="#" title="Tags"></a></li-->
        <li><a class="fa fa-rss-square fa-2x" href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS"></a></li>
        <li><a class="fa fa-linkedin-square fa-2x" href="https://linkedin.com/in/manenko" title="LinkedIn"></a></li>
        <li><a class="fa fa-twitter-square fa-2x" href="https://twitter.com/manenko" title="Twitter"></a></li>
        <li><a class="fa fa-bitbucket-square fa-2x" href="https://bitbucket.org/manenko" title="Bitbucket"></a></li>
    </ul>
</nav>
