---
layout: default
---

<nav class="articles-list">
  <h1>Posts</h1>
    <ul>
    {% for post in site.posts %}
      <li>
        <time>{{ post.date | date: "%D" }}</time>
        <a href="{{ post.url | prepend: site.baseurl }}">
          <span>{{ post.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
