<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="site-content">
        {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
