---
layout: default
---

<article class="article">
  <header>
    <h1>{{ page.title }}</h1>
    <time class="fa fa-clock-o"> {{ page.date | date: "%D" }}</time>
  </header>
  
  {{ content }}

  {% if page.tags.size > 0 %}
    <footer>
      <span class="fa fa-tags" title="Tags"></span>
      {% for tag in page.tags %}
        <a href="/tags/{{ tag | slugify }}.html" title="Show all posts tagged '{{ tag }}'">{{ tag }}</a>
      {% endfor %}
    </footer>
  {% endif %}
</article>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'manenko';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
