---
layout: default
---

<nav class="articles-list">
  <h1>{{ page.title }}</h1>
    <ul>
    {% for post in page.posts %}
      <li>
        <time>{{ post.date | date: "%D" }}</time>
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h2>{{ post.title }}</h2>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
