body {
    background-color: rgb(50, 50, 50);
}

.site-content {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
  line-height: 1.5;
  color: rgb(5, 5, 5);
  background-color: rgb(250, 250, 250);
  padding: 4em;
  margin-left: 3.4em;
}

.site-content h1, h2, h3, h4 {
  font-weight: bold;
}

.site-content h1 {
  font-size: 22pt;
}

.site-content h2 {
  font-size: 20pt;
}

.site-content h3 {
  font-size: 18pt;
}

.site-content h4 {
  font-size: 16pt;
}

.site-content em {
  font-style: italic;
}

.site-content ul, p {
  margin-top: 0;
  margin-bottom: 1em;
}

.site-content p {
  text-align: justify;
}

.site-content ul li {
    list-style-type: disc;
    margin-left: 2em;
}

.site-content ul li p {
    margin: 0;
}

.site-content span.icon>.fa {
  cursor: default;
}

.admonitionblock td.icon {
  text-align: center;
  vertical-align: middle;
  width: 80px;
}

.admonitionblock td.icon [class^="fa icon-"] {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0,0,0,.5);
  cursor: default;
}

.admonitionblock td.icon .icon-note:before {
  content: "\f05a";
  color: #19407c;
}

.admonitionblock td.icon .icon-tip:before {
  content: "\f0eb";
  text-shadow: 1px 1px 2px rgba(155,155,0,.8);
  color: #111;
}

.admonitionblock td.icon .icon-warning:before {
  content: "\f071";
  color: #bf6900;
}

.admonitionblock td.icon .icon-caution:before {
  content: "\f06d";
  color: #bf3400;
}

.admonitionblock td.icon .icon-important:before {
  content: "\f06a";
  color: #bf0000;
}

.admonitionblock {
  margin-top: 0;
  margin-bottom: 1em;
}

.admonitionblock td.content {
  vertical-align: middle;
}

.site-content pre, samp, code {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(200, 200, 200);
    margin-top: 0em;
    margin-bottom: 1em;
    font-family: 'Ubuntu Mono', monospace;
}

.site-content code {
    padding: 2px;
}

.site-content pre, samp {
    line-height: 1.2em;
    padding: 0.5em;
    overflow: auto;
}

.site-content pre code {
    border: none;
}

.listingblock .title {
    font-style: italic;
    font-size: 10pt;
}

article.article header time {
    color: rgb(100, 100, 100);
    font-size: 12pt;
}

article.article footer a {
    color: rgb(100, 100, 100);
    font-size: 12pt;
    text-decoration: underline;
}

.site-navigation ul {
    position: fixed;
    top: 1em;
}

.site-navigation ul li a {
    color: rgb(200, 200, 200);
    text-decoration: none;
    padding: 0.4em;
}

.site-navigation ul li a:hover {
    text-shadow: 0 0 1em rgba(255, 255, 255, 0.8);
    opacity: 0.9;
    color: rgb(255, 255, 255);
}

.site-footer {
    background-color: rgb(50, 50, 50);
    padding: 2em;
}

.site-footer p {
    text-align: center;
    color: rgb(200, 200, 200);
    font-family: 'Ubuntu', sans-serif;
    font-size: 10pt;
}

.articles-list {
  font-size: 12pt;
}

.articles-list ul {
}

.articles-list time {
    color: rgb(100, 100, 100);
    margin-left: 0;
    display: table-cell;
}

.articles-list a {
    color: rgb(5, 5, 5);
    display: table-cell;
    padding-left: 1em;
}

.articles-list ul li {
    color: rgb(5, 5, 5);
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.articles-list span {
    text-decoration: underline;
    font-size: 12pt;
    font-weight: bold;
}

img {
  margin-top: 0;
  margin-bottom: 1em;
}
